<div class="ui container">
  <div class="ui menu">
    {{#link-to "index" class="item"}}Index{{/link-to}}
    {{#link-to "developpers" class="item"}}Developpeurs{{/link-to}}
    {{#link-to "project" class="item"}}Projets{{/link-to}}
  </div>
  {{outlet}}
</div>
